@import 'app/scss/variables';

.content-container {
  display: flex;

  .content-section {
    color: $mainTextColor;
    flex: 1;
    padding: 0 $spacing-sm;
    box-shadow: 0 5px 10px 2px $blackTransparent;
    overflow-y: scroll;
    height: 85vh;
    margin: 0 $spacing-sm;

    .section-title {
      background: $mainBackgroundColor;
      display: block;
      padding: $spacing-sm 0;
      position: sticky;
      top: 0;
    }

    .items-container {
      .item {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
      }
    }
  }
}

.results-info {
  margin-left: $spacing-sm;
  color: $mainTextColor;
}

@media (max-width: 768px) {
  .content-container {
    display: block;

    .content-section {
      height: 70vh;
      margin-bottom: 20px
    }
  }
}
