//
// colors generated and named by coolor.co
//
$darkSkyBlue: #86BBD8;
$lapisAzuli: #33658A;
$charcoal: #2F4858;

// defined by me
$mainBackgroundColor: $charcoal;
$mainTextColor: $darkSkyBlue;
$blackTransparent: rgba(0,0,0,0.75);

//
// Spacing:
//
$spacing-sm: 10px;
